body {
    font-family: var(--monospace-ff);
    background-color: var(--dark-background-color);
}

    #header {
        /* color: var(--light-background-color); */
        /* text-align: center; */
    }

        #title {
            color: var(--light-background-color);
            font-size: var(--title-font-size);
            font-weight: var(--title-font-weight);
        }
    
    #content-boxes {

    }

        .content-box {
            color: var(--light-background-color);
            border: .2rem solid var(--medium-background-color);
            border-radius: .5rem;
            background-color: var(--dark-background-color);
        }