body {
    font-family: var(--current-font-ff);
    background-color: var(--background-color);
}

    #header {
        /* Hack to be non-empty */
        font-family: var(--current-font-ff);
    }

        #title-div {
            /* Hack to be non-empty */
            font-family: var(--current-font-ff);
        }

            #logo {
                /* Hack to be non-empty */
                font-family: var(--current-font-ff);
            }

            #title {
                color: var(--contrasting-color);
                font-size: var(--title-font-size);
                font-weight: var(--title-font-weight);
            }
        
        #theme-toggle {
            background: none;
            border: none;
            cursor: pointer;
        }

        #theme-toggle svg {
            width: var(--title-font-size);
            height: var(--title-font-size);
            fill: var(--contrasting-color);
        }
        
        #search-icon {
            /* Hack to be non-empty */
            font-family: var(--current-font-ff);
        }
        
        #toggle-div {
            /* Hack to be non-empty */
            font-family: var(--current-font-ff);
        }

            .toggle {
                border: 1px solid var(--contrasting-color);

                color: var(--contrasting-color);
                font-size: var(--toggle-font-size);

                text-align: center;
            }

            .toggle.highlighted {
                background-color: var(--contrasting-color);
                color: var(--background-color);
            }
    
    #content-boxes {
        /* Hack to be non-empty */
        font-family: var(--current-font-ff);
    }

        .content-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            color: var(--contrasting-color);
            border: .2rem solid var(--in-between-color);
            border-radius: .5rem;
            background-color: var(--background-color);
            min-height: 10vh;
        }

        .content-box.highlighted {
            background-color: var(--contrasting-color);
            color: var(--background-color);
        }