body {
    font-family: var(--current-font-ff);
    background-color: var(--dark-background-color);
}

    #header {
        /* Hack to be non-empty */
        font-family: var(--current-font-ff);
    }

        #title-div {
            /* Hack to be non-empty */
            font-family: var(--current-font-ff);
        }

            #logo {
                /* Hack to be non-empty */
                font-family: var(--current-font-ff);
            }

            #title {
                color: var(--light-background-color);
                font-size: var(--title-font-size);
                font-weight: var(--title-font-weight);
            }
        
        #search-icon {
            /* Hack to be non-empty */
            font-family: var(--current-font-ff);
        }
        
        #toggle-div {
            /* Hack to be non-empty */
            font-family: var(--current-font-ff);
        }

            .toggle {
                border: 1px solid var(--light-background-color);

                color: var(--light-background-color);
                font-size: var(--toggle-font-size);

                text-align: center;
            }

            .toggle.highlighted {
                background-color: var(--light-background-color);
                color: var(--dark-background-color);
            }
    
    #content-boxes {
        /* Hack to be non-empty */
        font-family: var(--current-font-ff);
    }

        .content-box {
            color: var(--light-background-color);
            border: .2rem solid var(--medium-background-color);
            border-radius: .5rem;
            background-color: var(--dark-background-color);
        }

        .content-box.highlighted {
            background-color: var(--light-background-color);
            color: var(--dark-background-color);
        }