/* Variables */

:root {
    --current-font-ff: var(--monospace-ff);
    --monospace-ff: 'Courier New', Courier, monospace;
    --dark-background-color: #333333;
    --medium-background-color: #555555;
    --light-background-color: #e2e2e2;

    --max-width: 1000px;
    --max-proportion: 95%;

    --small-padding: 5px;
    --normal-padding: 10px;
    --large-padding: 20px;

    --small-gap: 5px;
    --normal-gap: 10px;
    --large-gap: 20px;

    --red-border: 1px solid red;
    --blue-border: 1px solid blue;

    --title-font-weight: 900;
}

@media (min-width: 768px) {
:root {
    --title-font-size: min(3rem,5vw);
    --toggle-font-size: min(1.2rem,2.5vw);
}
}

@media (max-width: 768px) {
:root {
    --title-font-size: 5vw;
    --toggle-font-size: 2.5vw;
}
}

/* @media (max-width: 480px) {
:root {
    --title-font-size: 5vw;
    --toggle-font-size: 2.5vw;
}
} */
